
<div class="content">
    <form action="" method="POST">
        <div class="mb-3">
            <label for="category_name" class="form-label">Category Name</label>
            <input type="email" class="form-control" id="category_name" name="category_name">
          </div>
          <div class="mb-3">
            <label for="category_desctiption" class="form-label">Description</label>
            <textarea class="form-control" id="category_desctiption" rows="3" name="category_desctiption"></textarea>
          </div>

          <button class="btn btn-primary btn-large">Create</button>
    </form>
  </div>
  