<%- include("../partials/header") %>

  <nav class="navbar navbar-expand-lg bg-dark" aria-label="Thirteenth navbar example">
    <div class="container py-2">
      <div class="col-lg-1">
        <a class="navbar-brand logo bg-white rounded-pill py-2 px-3 me-0" href="#">RolixStore</a>
      </div>
      <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
        <ul class="navbar-nav col-lg-10 justify-content-lg-center">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Categories</a>
          </li>
        </ul>
        <div class="d-lg-flex col-lg-1 justify-content-lg-end">
          
        </div>
      </div>
    </div>
  </nav>


  <div class="main">
    <div class="container">
      <div class="container_title">
        <h1>All Products</h1>
        <p class="pt-4 container_p">
          Complete range of the products for all your needs.
        </p>
      </div>



      <div class="mt-5">
        <div class="row ">
          <div class="col-sm-9">
            <%- include("includes/_main_content") %>
          </div>
          <div class="col-sm-3">
            <%- include("includes/_side_bar") %>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-5 p-4 bg-dark text-white text-center">
      <p>Footer</p>
    </div>

  </div>

  <%- include("../partials/footer") %>