<%- include('../partials/header') %>

<div class="content_wrapper mt-5">

    <div class="form_wrapper w-25 m-auto">
      <h2>Log In</h2>
      <hr>

        <% if (error_msg && error_msg.length > 0) { %>
            <% error_msg.forEach((error) => { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                  </div>
            <% }) %>
        <% } %>

        <form method="post">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="username" class="form-control" id="username" name="username">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
          </form>
    </div>
    
</div>

<%- include('../partials/footer') %>